[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    C0115, # missing-class-docstring
    R0903, # broad-exception-caught
    R0903, # too-few-public-methods
    W0718, # unknown-option-value
    W0719, # broad-exception-raised
    E0402, # relative-beyond-top-level
    E0401, # import-error
    W0703, # broad-except
    W0012, # unknown-option-value
